@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #8540f5;
    --secundary: #a370f7;
}

/* configs */

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Inter', sans-serif;
}

span {
    color: var(--primary);
}

.title {
    line-height: 3rem;
    font-size: 32pt;
    margin: 2rem 0rem;
}

.text {
    line-height: 1.5rem;
    font-size: 14pt;
    font-weight: 300;
}

.text-two {
    margin: 3rem 0rem;
    font-weight: 300;
    text-align: center;
    font-size: 13pt;
}

/* bases */

label {
    margin: 1rem 0rem .2rem 0rem;
    font-weight: 300;
    font-size: 11pt;
}

input {
    border-radius: var(--Radius-radius-default, 6px);
    border: 1px solid var(--Gray-300, #DEE2E6);
    background: var(--Default-White, #FFF);
    display: flex;
    padding: 10px;
    width: 20rem;
    align-items: center;
}

input:focus {
    outline: none;
    border-radius: var(--Radius-radius-default, 6px);
    border: 1px solid var(--Primary-Color, #7749F8);
    box-shadow: 0px 0px 0px 3px rgba(102, 16, 242, 0.15);
}

input:invalid {
    border: 1px solid var(--colors-red-red-500, #DC3545);
    box-shadow: 0px 0px 0px 3px rgba(220, 53, 69, 0.20);
}

textarea {
    border-radius: var(--Radius-radius-default, 6px);
    border: 1px solid var(--Gray-300, #DEE2E6);
    background: var(--Default-White, #FFF);
    padding: 10px;
    min-width: 20rem;
    max-width: 20rem;
    min-height: 5rem;
    max-height: 9rem;
    font-family: 'Inter', sans-serif;
}

textarea:focus {
    outline: none;
    border-radius: var(--Radius-radius-default, 6px);
    border: 1px solid var(--Primary-Color, #7749F8);
    background: #FFF;
    box-shadow: 0px 0px 0px 3px rgba(102, 16, 242, 0.15);
}

.primary-btn button{
    padding: 9px 16px;
    background-color: #8540f5;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 6px;
    min-width: 7rem;
    max-width: 9rem;
    transition: .1s all;
}

.primary-btn button:hover {
    background-color: #6610f2;
}

.primary-btn button:active {
    background-color: #7749F8;
    box-shadow: 0px 0px 0px 3px rgba(102, 16, 242, 0.15);
}


.secundary-btn button{
    padding: 9px 16px;
    background-color: white;
    cursor: pointer;
    color: #8540f5;
    border: 1px solid #8540f5;
    border-radius: 6px;
    min-width: 7rem;
    max-width: 11rem;
    transition: .1s all;
}

.secundary-btn button:hover {
    background-color: #8540f5;
    color: white;
}

.secundary-btn button:active {
    background-color: #7749F8;
    box-shadow: 0px 0px 0px 3px rgba(102, 16, 242, 0.15);
}


.terciary-btn button{
    padding: 9px 16px;
    background-color: #EBE5FC;
    cursor: pointer;
    color: var(--primary);
    border: none;
    border-radius: 6px;
    transition: .1s all;
}

.terciary-btn button:hover {
    background-color: var(--primary);
    color: white;
}

.terciary-btn button:active {
    background-color: #EBE5FC;
    color: var(--primary);
    box-shadow: 0px 0px 0px 3px rgba(206, 176, 255, 0.15);
}


/* header */

header {
    padding: 1.5rem 4rem;
    background: rgba(224, 207, 252, 0.20);
    backdrop-filter: blur(15px);
    position: fixed;
    width: 100%;

    .float {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 2rem;
    }

    ul li a{
        text-decoration: none;
        color: #a370f7;
        padding: .5rem 1.5rem;
        border-radius: 2px;
        font-size: 11pt;
        font-weight: 300;
        transition: .1s all;
        
    }

    ul li a:hover{
        color: var(--primary);
        border-bottom: 2px solid var(--primary);
    }
}

/* content */

.content {
    padding-top: 6rem;
}

/* home */

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 4rem;
}

#home h1 {
    margin-bottom: 2rem;
}

#home button {
    margin-top: 3rem;
    margin-right: .5rem;
}

/* services */

#services {
    padding: 4rem 4rem;
}

#services h1{
    text-align: center;
    margin-bottom: 2rem;
}

.subtitle{
    text-align: center;
    font-weight: 400;
}


.vantagens {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.vant {
    display: flex;
    min-width: 25rem;
    max-width: 30rem;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;

    border: 1px solid#e0cffc;
    padding: 1rem 1rem;
    border-radius: 8px;
    background-color: #FAF6FF;
}

.vant h2 {
    font-size: 13pt;
    font-weight: 500;
    line-height: 2rem;   
    color: var(--primary);   
}


.vant p {
    font-size: 11pt;
    font-weight: 300;
    line-height: 1.2rem;       
}

.service-list {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.service-item {
    border-radius: 12px;
    max-width: 20rem;
    margin-top: 2rem;
    border: 1px solid #e0cffc;
    box-shadow: 0px 5px 40px 0px rgba(98, 0, 255, 0.16);
}

.service-content{
    padding: 1.5rem;
}

.service-content h2 {
    color: var(--primary);
}

.service-content ul {
    margin: 1rem 0rem 0rem 1rem;
    align-items: center;
    list-style-image: url(assets/check-circle-fill.svg);
}

.service-content ul li {
    font-weight: 300;
    margin: .5rem 0rem;
}

.order {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.order-text {
    margin-top: 5rem;
}

#btn-one button{
    margin-top: 5.5rem;
}


.service-item button {
    width: 100%;
    margin-top: 1.5rem;
}

.item-img{
    width: 200px;
    height: 200px;
    text-align: center;
    justify-content: center;
}

.img {
    display: flex;
    justify-content: center;
    background-color: #EBE5FC;
    border-top: 1px solid #e0cffc;
    width: 100%;
    padding: 1rem 0rem;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px -35px 10.8px -23px rgba(0, 0, 0, 0.25) inset;
}

/*#service-one {
    height: 33rem;
}

#service-two {
    height: 35rem;
}*/

/* sobre nos */

#about-us {
    display: flex;
    padding: 6rem 4rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background: url(./assets/background.svg) no-repeat top/cover; 
}

.about-content {
    width: 35rem;
    padding-top: 2rem;
}

.about-content h1 {
    margin-bottom: 1rem;
}

.about-content h2 {
    margin-bottom: 1rem;
}

.about-content p {
    font-size: 13pt;
}

/* contato */

#contact-us {
    display: flex;
    padding: 5rem 4rem;
    gap: 5rem;
    justify-content: center;
    background-color: #F5F2FD;
}

#contact-us form {
    display: flex;
    flex-direction: column;
}

.form-btn{
    padding: 9px 16px;
    background-color: #8540f5;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 6px;
    width: 100%;
    transition: .1s all;
    margin-top: 1rem;
    transition: .1s all;
}

.form-btn:hover {
    background-color: #6610f2;
}

.form-btn:active {
    background-color: #7749F8;
}

/* footer */

footer {
    background-color: #F5F2FD;
    padding: 3rem;
    display: flex;
    justify-content: space-between;

    ul {
        list-style: none;
        display: inline-flex;
        gap: 1rem;
        align-items: center;
    }

    ul li {
        display: flex;
        align-items: center;
    }

    ul li a{
        display: flex;
        align-items: center;
        padding: .5rem;
        border-radius: 5px;
    }

    p {
        font-weight: 200;
    }

    ul li a img {
        width: 16px;
        height: 16px;
    }

    ul li a:hover{
        background-color: #eadcff;
    }
}

/* page portfolio */

.port-title {
    text-align: center;
}

.portfolio {
    display: flex;
    padding-top: 3rem;
    justify-content: center;
}

.item {
    text-decoration: none;
}

.port-item {
    display: flex;
    align-items: center;
    gap: 0rem;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 8px;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.16);
}

.port-item:hover {
    border: 1px solid var(--primary);
    box-shadow: 0px 5px 40px 0px rgba(98, 0, 255, 0.16);
}

.img-back img {
    padding: 3.5rem;
    
}

.img-back {
    background: url(./assets/image.jpg) no-repeat top/cover; 
    width: 10rem;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: -27px 0px 10.8px -23px rgba(0, 0, 0, 0.25) inset;
}

.cat {
    background-color: var(--primary);
    width: 12rem;
    border-radius: 15px;
    font-size: 10pt;
    padding: .4rem;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    margin: .5rem 0rem;
}

.port-text {
    padding: 1.5rem;
}

.port-text h2{
    color: #8540f5;
    margin-bottom: .2rem;
    font-size: 15pt;
}

.port-text h3{
    color: white;
    font-weight: 300;
}

.port-text p {
    margin-bottom: .5rem;
}

.port-user {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;

    p {
        font-weight: 500;
        margin-top: .5rem;
    }
}
